@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  min-width: 4vh;
  min-height: 4vh;
  outline: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.hit {
  background-color: rgba(193, 105, 71, 0.6);
  pointer-events: none;
  cursor: none;
}

.destroyed {
  background-color: red;
}

.miss {
  font-size: 2.4vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.start-btn {
  margin-top: 5vh;
  border: 1px solid #444;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #456;
  color: white;
}

.start-btn:hover {
  cursor: pointer;
  background-color: #bbb;
}

.statistics {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  text-align: center;
}

.statistics h3 {
  font-size: 24px;
  border: 1px solid #444;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.statistics p {
  font-size: 20px;
  margin-top: 1rem;
  border: 1px solid #444;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.animation {
  object-fit: cover;
  width: 4vh;
  height: 4vh;
}
